<div>
    <h2>{{post.title}}</h2>
    <h3>{{post.body}}</h3>
    {{#if post.Comments}}
    {{#each post.Comments}}
    {{body}}
    {{User.username}}
    {{/each}}
    {{/if}}

    <form id="comment-form">
        <h3>Make a comment</h3>
        <h4>Body:</h4>
        <input type="text" id="body-comment">
        <input type="hidden" id="postId" value={{post.id}}>
        <button id="submit">Submit</button>
    </form>
</div>
<script src="/js/comment.js"></script>